.font-Sora {
    font-family: "Sora", serif;
}
.right-item{
    background-image: url("../c2-assets/vegetable-offer.png"), linear-gradient( to bottom , #53DB3A,#A9ED9D ,#ffff );
    background-repeat: no-repeat;
    background-position:bottom, left, top ,right;
}
/* .wiggle{
 animation:  wiggle;
} */

/* @keyframes wiggle{
0%{
left: 10%;
color:green;
}
20%{
    right: 30%;
}

} */